<div class="card card-custom gutter-b" style="border-width: 0">
  <div class="card-header">
    <div class="card-title" style="text-align: center; margin-top: 20px">
      <h2>To Do</h2>
    </div>
  </div>
  <div class="card-body">
    <div class="tabs" id="alignCenter" style="padding: 20px">
      <input type="radio" name="tabs" id="tabone" checked="checked" />
      <label for="tabone"> Create a task</label>
      <div class="tab">
        <div class="card-body">
          <div class="container" id="alignCenter">
            <div class="tab-content" style="width: 50%; padding: 10px">
              <mat-label class="col-form-label required fw-bold fs-5"
                >Task title</mat-label
              >
              <input
                type="text"
                placeholder="Type the task title"
                name="title"
                value="{{ taskforCreate.title }}"
                class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                [(ngModel)]="taskforCreate.title"
              />
              <mat-label class="col-form-label required fw-bold fs-5"
                >Due date</mat-label
              >
              <mat-form-field
                class="date-picker"
                appearance="outline"
                style="width: 100%"
              >
                <input
                  matInput
                  [matDatetimepicker]="datetimePicker"
                  [(ngModel)]="taskforCreate.dueDate"
                />
                <mat-datetimepicker-toggle
                  matSuffix
                  [for]="datetimePicker"
                ></mat-datetimepicker-toggle>
                <mat-datetimepicker
                  #datetimePicker
                  type="datetime"
                ></mat-datetimepicker>
              </mat-form-field>
              <div
                class="form-group align-items-center d-flex justify-content-center"
              >
                <button
                  style="background-color: #c8102e"
                  class="btn btn-success mr-2"
                  (click)="createTask()"
                >
                  Create
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input
        #myinput
        type="radio"
        name="tabs"
        id="tabtwo"
        [checked]="ischecked"
      />
      <label for="tabtwo"> &nbsp;&nbsp;Edit task&nbsp;&nbsp;</label>
      <div class="tab">
        <div class="card-body">
          <div class="container" id="alignCenter">
            <div
              *ngIf="taskforEdit.id > 0"
              class="tab-content"
              style="width: 50%; padding: 10px"
            >
              <mat-label class="col-form-label required fw-bold fs-5"
                >Task title</mat-label
              >
              <input
                type="text"
                placeholder="Type the task title"
                name="title"
                value="{{ taskforEdit.title }}"
                class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                [(ngModel)]="taskforEdit.title"
              />
              <mat-label class="col-form-label required fw-bold fs-5"
                >Due date</mat-label
              >
              <mat-form-field
                class="date-picker"
                appearance="outline"
                style="width: 100%"
              >
                <input
                  matInput
                  [matDatetimepicker]="datetimePicker"
                  [(ngModel)]="taskforEdit.dueDate"
                />
                <mat-datetimepicker-toggle
                  matSuffix
                  [for]="datetimePicker"
                ></mat-datetimepicker-toggle>
                <mat-datetimepicker
                  #datetimePicker
                  type="datetime"
                ></mat-datetimepicker>
              </mat-form-field>
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="taskforEdit.hasDone"
                color="primary"
              >
                {{ "Mark as done" }}
              </mat-checkbox>
              <div
                class="form-group align-items-center d-flex justify-content-center"
              >
                <button
                  style="background-color: #c8102e"
                  class="btn btn-success mr-2"
                  (click)="editTask()"
                >
                  &nbsp;Save&nbsp;
                </button>
              </div>
            </div>
            <h4 *ngIf="!(taskforEdit.id > 0)">
              Please select a task from lists
            </h4>
          </div>
        </div>
      </div>
      <input
        type="radio"
        name="tabs"
        id="tabthree"
        (click)="pendingClicked()"
      />
      <label for="tabthree"> Pending tasks</label>
      <div class="tab">
        <div class="card-body">
          <div class="container" id="alignCenter">
            <div class="tab-content" style="width: 60%">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th
                      id="specialcolumns"
                      scope="col"
                      style="text-align: start"
                    >
                      Title
                    </th>
                    <th scope="col" style="text-align: center">Overdue date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let reportitem of pendingTasks
                      | paginate
                        : {
                            itemsPerPage: totalPage,
                            currentPage: currentPendingPage,
                            totalItems: pendingTasksLength,
                            id: 'pendingtasks'
                          }
                  "
                >
                  <tr>
                    <td id="specialcolumns" style="text-align: start">
                      {{ reportitem.title }}
                    </td>
                    <td style="text-align: center">
                      {{ reportitem.dueDate | date: "dd/MM/yyyy HH:mm" }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-success"
                        style="
                          background-color: #e32137e6;
                          float: right;
                          padding: 7px;
                          border-radius: 7px;
                        "
                        (click)="fillTaskforEdit(reportitem)"
                      >
                        &nbsp;Edit&nbsp;
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="pendingTasksLength == 0">
                  <tr class="table">
                    {{
                      noPendingTask
                    }}
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                [previousLabel]="'Back'"
                [nextLabel]="'Forward'"
                (pageChange)="pageChanged('pendingtasks', $event)"
                id="pendingtasks"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <input type="radio" name="tabs" id="tabfour" (click)="overdueClicked()" />
      <label for="tabfour"> Overdue tasks</label>
      <div class="tab">
        <div class="card-body">
          <div class="container" id="alignCenter">
            <div class="tab-content" style="width: 60%">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th
                      id="specialcolumns"
                      scope="col"
                      style="text-align: start"
                    >
                      Title
                    </th>
                    <th scope="col" style="text-align: center">Overdue date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let reportitem of overdueTasks
                      | paginate
                        : {
                            itemsPerPage: totalPage,
                            currentPage: currentOverduePage,
                            totalItems: overdueTasksLength,
                            id: 'overduetasks'
                          }
                  "
                >
                  <tr>
                    <td id="specialcolumns" style="text-align: start">
                      {{ reportitem.title }}
                    </td>
                    <td style="text-align: center">
                      {{ reportitem.dueDate | date: "dd/MM/yyyy HH:mm" }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-success"
                        style="
                          background-color: #e32137e6;
                          float: right;
                          padding: 7px;
                          border-radius: 7px;
                        "
                        (click)="fillTaskforEdit(reportitem)"
                      >
                        &nbsp;Edit&nbsp;
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="overdueTasksLength == 0">
                  <tr class="table">
                    {{
                      noPendingTask
                    }}
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                [previousLabel]="'Back'"
                [nextLabel]="'Forward'"
                (pageChange)="pageChanged('overduetasks', $event)"
                id="overduetasks"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
